*{
    padding:0;
    margin:0;
}
ul{
    list-style-type: none;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Arial Narrow';

}

.catalog{
    display: flex;
    flex-direction: column;
    width:100%;
    height: fit-content;
    position: relative;
    background: #f5f5dc;
}
.wrapper{
    padding:0 20px;
    height: fit-content;
    display: flex;
    gap:20px;
}
.filter__container{
    border: 1px solid black;
    width:100px;
    height: fit-content;
    padding:20px 0 20px 40px;
}
.filter__item{
    margin-top: 20px;
}

.films{
    position: relative;
    padding-top:70px;
}
.catalog__container{
    display: grid;
    padding-top: 80px;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr ;
}

.catalog__header{
    text-align: center;

}
.catalog__item{
    width:270px;
    border-radius: 20px;
    height:fit-content;
}
.item__image{
    width:270px;
    height:350px;border-radius: 20px;
}
.image{
    width:100%;
    height:100%;
    border-radius: 20px;
}
.item__name{
    font-family: "Arial Rounded MT Bold";
    font-size:18px;
    line-height: 20px;
    display: flex;
    justify-content: center;
}

.catalog__buttons__set {
    display: flex;
    justify-content: center;
    padding-top: 45px;
    padding-bottom: 100px;
    gap: 20px;
}

.catalog__btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 52px;
    min-height: 52px;
    max-width: 52px;
    max-height: 52px;
    border-radius: 100%;
    border: 1px solid #CDCDCD;
    font-size: 20px;
    color: #CDCDCD;
    line-height: 23px;
    background-color: transparent;
    cursor: pointer;
}
.button__double__back:before{
    content:'<<';
}
.button__single__back:before{
    content: '<';
}