ul {
    list-style-type: none;
}
*{
    text-decoration: none;
}
body {
    width: 100%;
    height: fit-content;
    background: linear-gradient(90deg, rgba(9,121,97,1) 0%, rgba(2,0,36,1) 41%, rgba(8,97,85,1) 91%);
    background-size: 100%;
}

.ibg {
    position: relative;
}

.ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

a {
    text-decoration: none;
    font-family: Montserrat, serif;
    font-size: 20px;
    line-height: 48px;
    color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Montserrat, serif;
    font-size: 50px;
    color: white;
    margin-bottom: 20px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header {
    background: rgb(9,121,97);
    background: linear-gradient(90deg, rgba(9,121,97,1) 0%, rgba(2,0,36,1) 41%, rgba(8,97,85,1) 91%);
    background-size: 100%;
    padding-bottom: 20px;
    padding-top: 10px;
    height: 70px;
    width: 100%;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav__logo {
    padding-left: 49px;
    width: fit-content;
    display: flex;
    align-items: center;
}

.nav__logo a{
    color:white;
    text-decoration: none;
}

li a{
    color:white;
    text-decoration: none;
}

.nav__logo img {
    max-width: 60px;
    max-height: 50px;
}

.logo__link {
    margin-left: 20px;
    font-weight: bold;
}

.header__nav__main {
    display: flex;
    align-items: center;
    padding-right: 119px;
}

.nav__main__item:not(:first-child) {
    margin-left: 40px;
}




.main{
    flex-direction: column;
    align-items: center;
    position: relative;
    display: flex;
    padding-bottom: 60px;
    height:fit-content;
    background: rgb(9,121,97);
    background: linear-gradient(90deg, rgba(9,121,97,1) 0%, rgba(2,0,36,1) 41%, rgba(8,97,85,1) 91%);
    background-size: 100%;
    padding-top: 20px;
}
.slider__cont {
    position: relative;
    width: 800px;
    max-height: 400px;
    overflow: hidden;
    border-radius: 20px;box-shadow: 0px 0px 32px -7px rgba(255, 255, 255, 0.78);
}

.slider__line {
    position: relative;
    top: 0;
    left: 0;
    transition: all 0.5s linear;
    display: flex;
    max-height:400px;
}

.btn {
    padding: 20px 20px
}

.pagination {
    margin: 20px;
    display: flex;
    gap: 5px;
}

.pag__elem {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: grey;
    cursor: pointer;
}
.line__item img{
    height: 400px;
    width:800px;
}
.pag__elem.active {
    background-color: white;
}

/* модальная штука слайдера*/
.modal__wind{
    position: absolute;
    top:500px;
    width: 100%;
    background: rgb(211,233,233);
    background: linear-gradient(90deg, rgba(211,233,233,1) 8%, rgba(90,245,227,1) 60%, rgba(67,194,223,1) 100%);
    z-index: 456456;
    padding-bottom: 30px;
}
.modal__wind__content{
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    padding-bottom: 30px;
}
.modal__wind__title{
    text-align: center;
}
.modal__wind.active{
    transition: all 0.3s linear;
    top:200px;
}
.modal__wind__descr{
    text-align: center;
   padding: 0 20px;
}
.btn_see{
}
.btn_see span{

    left:50%;
    top:99%;
    content: '';
    width:10px;
    height: 3px;
    background-color: red;


}
.btn_close{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.close{
    padding: 1px 20px;
    border-radius: 50%;
    border:solid 2px black;
    color:red
}


/*section*/
.list{
    width:100%;
    height: fit-content;
    position: relative;
    background: #FFFFFF;
}
.wrapper{
    width:100%;
    height: fit-content;
    padding:0 20px;
}
.wrapper__list{
    display: grid;
    grid-template-columns: 20% 80%;
    background: linear-gradient(90deg, rgba(9,121,97,1) 0%, rgba(2,0,36,1) 41%, rgba(8,97,85,1) 91%);
    background-size: 100%;
}
.list__cont{
    width:100%;
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.list__cont__item{
    width:80%;
    box-shadow: 1px 0 5px 0 white;
    background-color: #E0E0E0;
    margin-top:20px;
    height: fit-content;
    border-radius: 5px;
}

.list__cont__item__container{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    flex-wrap: wrap;
    height: fit-content;
}
.cont__item__title{
    font-size: 30px;
    color:black;
}
.cont__item__list{
    padding-top: 10px;
}
.cont__item__list__child{
    margin-top: 5px;
    font-size: 18px;
    line-height: 25px;
}
.cont__item__list__child__name{
    margin-top: 5px;
    line-height: 25px;
    font-weight: 600;
    font-size: 23px;
}

.text{word-wrap: break-word;
    width: 100%;

    padding-top: 18px;
    line-height: 20px;
}
.list__btn{
    margin-top: 20px;
    display: inline-flex;
    width:200px;
    color:white;
    border: 1px solid grey;
    padding: 0 20px;
    border-radius: 10px;
    background: rgb(154,244,163);
    background: linear-gradient(90deg, rgba(154,244,163,1) 12%, rgba(61,149,139,1) 31%, rgba(160,48,177,1) 57%, rgba(108,130,203,1) 99%);
}
.list__btn:hover{
    animation: 0.5s linear infinite btnhover;

}
@keyframes btnhover {
    from{
        background-position-x:0px ;
    }
    to{
        background-position-x:200px ;
    }
}

.btn__set{
    position: relative;
    width:100%;
    display: flex;
    justify-content: center;
    gap:10px;
    background: linear-gradient(90deg, rgba(9,121,97,1) 0%, rgba(2,0,36,1) 41%, rgba(8,97,85,1) 91%);
    background-size: 100%;
}
.btn__set a{
    color:white;
    text-decoration: none;
}

.cont__btn{
    font-size: 30px;
    margin: 20px;
    margin-bottom: 40px;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;align-items: center;

    width:50px;
    height: 50px;
    border-radius: 100%;
}

.filter {
    background-color: #e0e0e0;
    display: flex;
    flex-direction: column;
    height: 5%;
    width: 95%;
    margin-top: 20px;
    padding: 10px;
    align-items: center;
    box-shadow: 0px 0px 32px -7px rgba(255, 255, 255, 0.78);
    border-radius: 5px;
}
.filter h3 {
    color:black;
}